body {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
* {
    font-size: 24px; 
    font-family: Verdana, sans-serif    
}
.container {
    background-color: rgb(78, 72, 112);
    width: 400px;
    height: 510px;    
}

.display {
    margin-top: 20px;
    background-color: rgba(37, 34, 49, 0.856);
    width: 380px;
    height: 80px;
    margin-left: 10px;
    border-radius: 7px;    
}

.numb {
    margin-top: 10px;
    margin-left: 10px;
    width: 380px;
    height: 330px;
    background-color: rgba(37, 34, 49, 0.856);
    display: grid;
    grid-template-columns: repeat(4, 73px); 
    grid-template-rows: repeat(5, 50px); 
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    place-content: center;
    border-radius: 7px;
}

button:nth-child(17),
button:nth-child(18) {
  grid-column: span 2; 
}


.btn {
    background-color: white;
    color: rgb(26, 22, 22);;
    border-radius: 7px;    
    margin-left: 0px; 
    cursor: pointer;
}

.nome {
    color: white;
    margin-left: 10px;
    
}

#dif1 {
    background-color: rgb(78, 72, 112);
    color: white;
    }
    
    #dif2 {
        background-color: rgba(255, 32, 32, 0.952);
        color: rgb(255, 255, 255);
    
    }